@keyframes spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes copied {
  0%   { transform: translateX(-105%) scale(1, 0); opacity: 0; }
  15%  { transform: translateX(-105%) scale(1, 1); opacity: 1; }
  85%  { transform: translateX(-105%) scale(1, 1); opacity: 1; }
  100% { transform: translateX(-105%) scale(1, 2); opacity: 0; }
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/roboto_medium.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Sans Mono';
    src: url('/fonts/dejavusans_mono.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Serif';
    src: url('/fonts/dejavuserif_regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Serif';
    src: url('/fonts/dejavuserif_bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    background: #c3461b;
    max-width: 375px;
    min-width: 375px;
    height: 100%;
    height: 480px;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

body.big-boi {
    height: 538px; /* Chrome bug workaround - see comment in popup.js */
}

.flex-layout {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    transition: none;
}
.flex-layout.blur {
    filter: blur(5px);
    transition: filter .5s linear;
}

.flex-layout nav {
    flex-grow: 0;
    flex-shrink: 0;
}

nav {
    display: flex;
    flex-direction: horizontal;
    height: 58px;
    font-size: 0px;
    background: linear-gradient(180deg, rgba(255,255,255,.15) 0%, rgba(51,51,51,0) 10%, rgba(51,51,51,0) 90%, rgba(0,0,0,.15) 100%);
    user-select: none;
}

nav .logo {
    padding: 3px 10px 0px 10px;
    flex-grow: 0;
    flex-shrink: 0;
    display: none;
}

nav .logo svg {
    width: 51px;
    height: 48px;
    opacity: .75;
    fill: #8e0d00;
    cursor: pointer;
}
nav .logo svg:hover {
    fill: #6e0800;;
}

nav ul {
    flex-shrink: 0;
    flex-grow: 1;
    text-align: left;
}

nav ul li {
    margin-top: 0px;
    display: inline-block;
    margin-right: 15px;
    width: 60px;
    padding: 9px 5px 8px 5px;
    border: 1px solid transparent;
    cursor: pointer;
    text-align: center;
}

nav ul li:last-child {
    margin-right: 0px;
}

nav ul li.sel {
    background: rgba(0, 0, 0, .15);
}

nav ul li.sel a, nav ul li:hover span {
    text-shadow: 0px 0px 5px rgba(255, 255, 255, .5);
}

nav ul li.sel svg, nav ul li:hover svg {
    filter: drop-shadow(0px 0px 5px #ffffffff);
}

nav ul li svg {
    display: inline-block;
    width: 24px;
    height: 24px;
    fill: white;

}

nav ul li span {
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 13px;
    margin-top: 2px;
}

nav .fullscreen {
    width: 24px;
    height: 24px;
    margin: 5px 5px 0px 0px;
    padding: 4px 0px 0px 4px;
    border-radius: 5px;
    cursor: pointer;
}

nav .fullscreen svg {
    width: 16px;
    height: 16px;
    fill: #fff;
}

nav .fullscreen:hover {
    background: rgba(0, 0, 0, .15);
}

nav .fullscreen:hover svg {
    fill: #fff;
    filter: drop-shadow(0px 0px 5px #ffffffff);
}

h1 {
    font-size: 1.33em;
    font-weight: normal;
    color: #333;
    user-select: none;
    padding: 0px 10px;
}

h2 {
    font-size: .8em;
    color: #333;
    font-weight: 600;
    user-select: none;
}

div.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    flex-shrink: 0;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background: #eee;
    background: linear-gradient(to top, #ddd 65px, #eee 65px 100%);
    padding: 15px 0px 0px 0px;
}

div.content .row-content-title,
div.content .row-heading,
div.content .row-body,
div.content .table-container,
div.content #div-encryption-fields {
    transition: transform .5s ease-out, opacity .5s ease-out;
}

div.content .submit-area button {
    transition: transform .33s ease-in, opacity .33s ease-in;
}

div.content.hidden {
    display: none;
}

div.content.floating {
    background: transparent;
    position: absolute;
    left: 0px;
    top: 58px;
    width: 100%;
    height: calc(100% - 58px);
    max-height: calc(100% - 58px);
}

div.content.floating .submit-area {
    box-shadow: none;
}

div.content.floating.active {
    background: #eee;
    background: linear-gradient(to top, #ddd 65px, #eee 65px 100%);
}

div.content.floating.active .submit-area {
    box-shadow: inset 0px 11px 8px -10px #ccc;
}

div.content .row-content-title,
div.content .row-heading,
div.content .row-body {
    transform: translate(0vw);
    opacity: 1;
}

div.content .submit-area button {
    transform: scale(1, 1);
    opacity: 1;
}


div.content.floating .row-content-title,
div.content.floating .row-heading,
div.content.floating .table-container,
div.content.floating .row-body {
    transform: translate(50px);
    opacity: 0;
}

div.content.floating .submit-area button {
    transform: scale(.5, 0);
    opacity: 0;
}

div.content.background .row-content-title,
div.content.background .row-heading,
div.content.background .row-body,
div.content.floating.background .table-container,
div.content.background #div-encryption-fields {
    transform: translate(-50px);
    opacity: 0;
}

div.content.background .submit-area button {
    transform: scale(.5, 0);
    opacity: 0;
}


div.content.floating.foreground .row-content-title,
div.content.floating.foreground .row-heading,
div.content.floating.foreground .table-container,
div.content.floating.foreground .row-body {
    transform: translate(0vw);
    opacity: 1;
}

div.content.floating.foreground .submit-area button {
    transform: scale(1, 1);
    opacity: 1;
}

.row-content-title {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    flex-grow: 0;
    flex-shrink: 0;
}

.row-content-title h1 {
    flex-grow: 1;
    flex-shrink: 0;
}

.row-content-title div.back-arrow {
    margin-left: 5px;
}
.row-content-title div.add {
    margin-right: 5px;
}

.row-content-title div.back-arrow,
.row-content-title div.add {
    padding: 0px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.row-content-title div.back-arrow:hover,
.row-content-title div.add:hover {
    background: #ccc;
}

.row-content-title div.back-arrow svg,
.row-content-title div.add svg {
    width: 20px;
    height: 20px;
    fill: #c3461b;
}

.row-heading {
    display: flex;
    align-items: center;
    margin-bottom: 2px;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}

.row-heading.standalone {
    max-width: 380px;
    margin-bottom: 5px;
}

.row-heading.standalone div.tooltip {
    flex-grow: 1;
}

.row-heading h2 {
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0px 5px 0px 10px;
}

.row-heading h2.wide {
    flex-grow: 1;
}

.row-heading div.tooltip, .row-heading div.copy {
    padding-right: 10px;
    text-align: right;
    flex-grow: 0;
    flex-shrink: 0;
}
.row-heading div.copy {
    position: relative;
}
.row-heading div.copy span {
    position: absolute;
    display: block;
    left: 0px;
    top: 0px;
    color: green;
    transform: translateX(-105%);
    line-height: 24px;
    display: none;
    pointer-events: none;
}
.row-heading div.copy span.animate {
    display: block;
    animation: copied 2s infinite;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

.row-heading div.tooltip svg, .row-heading div.copy svg {
    width: 24px;
    height: 24px;
    fill: #888;
    cursor: pointer;
}

.row-heading div.tooltip svg:hover {
    fill: #9b1b06;
}
.row-heading div.copy svg:hover {
    fill: green;
}

.row-heading div.saved-text {
    flex-grow: 1;
    flex-shrink: 0;
    text-align: right;
    padding-right: 7px;
    position: relative;
}

.row-heading div.saved-text a.open-saved-text-popup {
    font-size: .8em;
}

.row-heading div.saved-text a.open-saved-text-popup,
.table-container table tr td a {
    display: inline-block;
    color: #c3461b;
    text-decoration: underline;
    user-select: none;
}

.row-heading div.saved-text a.open-saved-text-popup:hover,
.table-container table tr td a:hover {
    color: #9b1b06;
    text-decoration: underline;
}

.row-body {
    padding: 0px 10px;
    flex-grow: 0;
    flex-shrink: 0;
}
.row-body.bottom-pad {
    padding-bottom: 20px;
}

.row-body.textarea {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

div.content.decrypt-results .row-body.textarea {
    padding-bottom: 0px;
}

.row-body.textarea.no-pad {
    padding-bottom: 0px;
}

.row-body.textarea textarea {
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    resize: none;
    border: 1px solid #ddd;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    padding: 0px 10px;
    font-size: 1em;
    line-height: 1.2em;
    font-family: 'DejaVu Sans Mono';
}
div.content.decrypt-results .row-body.textarea textarea {
    border: 1px solid #c3461b44;
    background: #c3461b44 url(/images/memespeech-logo-faint.svg) center center no-repeat;
    background-size: auto 80%;
    font-size: 1.5em;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);
    box-shadow: inset 0px 11px 8px -10px #c3461b44;
    padding-top: 10px;
}

input[type="text"] {
    display: block;
    width: 100%;
    max-width: 360px;
    padding: 3px 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    font-family: 'Roboto';
    font-size: 1em;
}

input[type="text"]:disabled {
    background: #f6f5f4;
}

input[type="text"]:last-child {
    margin-bottom: 0px;
}

svg#icons { display: none; }

.switch {
  margin-left: 2px;
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #c3461b;
}

input:focus + .slider {
    box-shadow: 0 0 2px #c3461b;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

#div-encryption-fields {
    flex-grow: 0;
    flex-shrink: 0;
}

#div-encryption-fields.hidden {
    display: none;
}

.submit-area {
    margin-top: 20px;
    padding: 15px 10px 10px 10px;
    display: flex;
    align-items: center;
    box-shadow: inset 0px 11px 8px -10px #ccc;
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 65px;
}
.content.create-manage .submit-area {
    margin-top: 0px;
}

.submit-area button {
    border: 0px none transparent;
    border-radius: 5px;
    padding: 0px 15px;
    font-family: 'Roboto';
    font-weight: 600;
    cursor: pointer;
}

.submit-area button.submit {
    background: #c3461b;
    color: white;
    margin-right: 15px;
    height: 40px;
}

.submit-area button.submit:disabled {
    cursor: default;
    background: #c3461b44;
}

.submit-area button.reset {
    background: white;
    color: black;
    height: 30px;
}

.submit-area button.reset:disabled {
    cursor: default;
    background: #ffffff44;
    color: #888;
}

.submit-area .loader {
    flex-grow: 1;
    flex-shrink: 0;
    text-align: right;
}

.notification-area {
    font-size: .8em;
    opacity: .7;
    color: #333;
    display: flex;
    width: 100%;
    max-width: 360px;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px;
    transition: transform .3s ease-in;
    transform: scale(1, 1);
}
.notification-area svg {
    display: none;
}
.notification-area.info svg.info,
.notification-area.warn svg.warn,
.notification-area.ok svg.ok,
.notification-area.error svg.error {
    display: inline-block;
}

.notification-area.nudge {
    transition: none;
    transform: scale(1.15, 1.15);
}

.notification-area.hidden {
    display: none;
}

div.content.decrypt .notification-area {
    margin-bottom: 0px;
}

.notification-area svg {
    width: 16px;
    height: 16px;
    fill: #333;
    margin: 0px 5px 0px 5px;
}

.notification-area svg.hidden {
    display: none;
}

.notification-area span {
    user-select: none;
}

.notification-area.warn {
    opacity: 1;
    color: #b61;
}

.notification-area.warn svg {
    fill: #b61;
}

.notification-area.ok {
    opacity: 1;
    color: #579733;
}

.notification-area.ok svg {
    fill: #579733;
}

.notification-area.error {
    opacity: 1;
    color: #c3461b;
}

.notification-area.error svg {
    fill: #c3461b;
}

svg.loading {
    width: 38px;
    height: 38px;
    display: none;
    stroke-width: 2px;
    stroke: #aaa;
    fill: none;
}

div.content.loading input,
div.content.loading textarea,
div.content.loading label,
div.content.loading .row-heading a,
div.content.loading div.tooltip,
div.content.loading div.copy {
    opacity: .5;
    transition: opacity .5s linear;
    pointer-events: none;
}

div.content.loading svg.loading {
    display: inline-block;
    animation: spinner .5s infinite;
    animation-timing-function: linear;
    transform-origin: 20px 20px;
}

.modal {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity .5s linear;
    font-family: 'DejaVu Serif';
}
.modal.hidden {
    display: none;
}
.modal.fade {
    opacity: 0;
}

.modal .modal-content {
    text-align: center;
    width: 330px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px white;
}

.modal .modal-content img {
    display: none;
    max-height: 175px;
    width: auto;
    user-select: none;
}

.modal .modal-content h3 {
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: bold;
    margin: 15px 0px 15px 0px;
    user-select: none;
}
.modal .modal-content p {
    line-height: 1.2em;
    margin-bottom: 25px;
    user-select: none;
}

.modal .modal-content button {
    color: white;
    background: #c3461b;
    border: 0px none transparent;
    font-size: 1.4em;
    padding: 5px 25px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.modal .modal-content button:hover {
    background: #b3360b;
}

.saved-text-popup {
    position: absolute;
    /* -- Now being set via JS
    right: 40px;
    top: 125px;
    */
    width: 235px;
    padding-top: 20px;
    z-index: 233333;
}
.saved-text-popup.hidden {
    display: none;
}
.saved-text-popup ul {
    width: 100%;
    max-height: 300px;
    overflow: auto;
}
.saved-text-popup ul li {
    display: block;
    border-bottom: 1px solid #666;
}
.saved-text-popup ul li a {
    display: block;
    padding: 0px 10px;
    text-decoration: none;
    color: #eee;
    background: #444;
    font-size: .9em;
    user-select: none;
}
.saved-text-popup ul li a:hover {
    background: #555;
}
.saved-text-popup ul li a span {
    display: inline-block;
    line-height: 35px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 210px;
}
.saved-text-popup ul li a svg {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    line-height: 35px;
    margin-bottom: -6px;
    fill: #eee;
}

.table-container {
    flex-grow: 1;
    flex-shrink: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

.table-container table {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    overflow: hidden;
}

.table-container table tr td {
    vertical-align: middle;
    padding: 10px 10px;
    background: #eee;
    user-select: none;
    transition: background .2s linear;
}

.table-container table tr td:last-child {
    text-align: right;
}

.table-container table tr:nth-of-type(odd) td {
    background: #ddd;
}

.table-container table tr:hover td {
    background: #ccc;
}
.table-container table tr:hover td svg {
    opacity: 1;
}

.table-container table tr td svg {
    width: 24px;
    height: 24px;
    fill: #c3461b;
    opacity: 0;
    transition: opacity .2s linear;
    margin-left: 5px;
    cursor: pointer;
}
.table-container table tr:hover td svg:hover {
    fill: #9b1b06;
}

.credits-popup {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: #c3461bcc;
    display: flex;
    transition: opacity .5s linear, background .5s ease-out;
    align-items: center;
    justify-content: center;
}

.credits-popup.hidden {
    display: none;
    pointer-events: none;
}

.credits-popup.fade {
    opacity: 0;
}

.credits-popup div.credits-content::after {
    position: absolute;
    display: block;
    left: 0px;
    top: 22px;
    width: 100%;
    height: 30vh;
    content: " ";
    background: rgba(0, 0, 0, 0) url(/images/cool-mode.png) center top no-repeat;
    background-size: auto 100%;
    transition: transform .5s ease-out, opacity .5s linear;
    transform: translateY(-50px);
    opacity: 0;
}

.credits-popup img {
    display: block;
    /*height: 100%;*/
    max-height: 30vh;
    width: auto;
    margin: 0px auto 30px auto;
    user-select: none;
}

.credits-popup div.credits-content {
    position: relative;
    background: #ffe6dd;
    max-width: 800px;
    max-height: 100%;
    font-family: 'DejaVu Serif';
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform .5s ease-out, box-shadow .5s ease-out, background .5s ease-out;
}
.credits-popup.fade div.credits-content {
    transform: scale(.95, .95);
}

.credits-popup h1,
.credits-popup h2,
.credits-popup p {
    color: #222;
    box-sizing: border-box;
    margin-bottom: 15px;
    line-height: 1.3em;
    width: 100%;
    padding: 0px 0px 0px 0px;
    text-align: center;
}

.credits-popup h1 {
    font-size: 3em;
    font-weight: bold;
    user-select: none;
    font-weight: bold;
    margin-bottom: 30px;
}

.credits-popup h2 {
    font-size: 1.5em;
    font-weight: bold;
}

.credits-popup p {
    font-size: 1.25em;
    margin-bottom: 30px;
    padding: 0px 30px;
}

.credits-popup strong {
    font-weight: bold;
}

.credits-popup h1 b {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px;
    width: 65px;
    text-align: center;
    margin: 3px 3px;
    position: relative;
    color: transparent;
}

.credits-popup h1 b:after,
.credits-popup h1 b:before {
    position: absolute;
    left: -1px;
    top: -1px;
    display: block;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid rgba(195, 70, 27, .2);
    background: rgba(255, 255, 255, .5);
    width: 65px;
    text-align: center;
    transition: all .3s ease-in;
    color: black;
}
.credits-popup h1 b:after {
    transform: scale(1.5,1.5);
    opacity: 0;
}
.credits-popup h1 b.tweak:before {
    opacity: 0;
    transform: scale(.5, .5);
}
.credits-popup h1 b.tweak:after {
    opacity: 1;
    transform: scale(1,1);
}

.credits-popup h1 b:nth-of-type(1):before { content: "M"; }
.credits-popup h1 b:nth-of-type(2):before { content: "E"; }
.credits-popup h1 b:nth-of-type(3):before { content: "M"; }
.credits-popup h1 b:nth-of-type(4):before { content: "E"; }
.credits-popup h1 b:nth-of-type(5):before { content: "S"; }
.credits-popup h1 b:nth-of-type(6):before { content: "P"; }
.credits-popup h1 b:nth-of-type(7):before { content: "E"; }
.credits-popup h1 b:nth-of-type(8):before { content: "E"; }
.credits-popup h1 b:nth-of-type(9):before { content: "C"; }
.credits-popup h1 b:nth-of-type(10):before { content: "H"; }
.credits-popup h1 b:nth-of-type(1):after { content: "m"; }
.credits-popup h1 b:nth-of-type(2):after { content: "e"; }
.credits-popup h1 b:nth-of-type(3):after { content: "m"; }
.credits-popup h1 b:nth-of-type(4):after { content: "e"; }
.credits-popup h1 b:nth-of-type(5):after { content: "s"; }
.credits-popup h1 b:nth-of-type(6):after { content: "p"; }
.credits-popup h1 b:nth-of-type(7):after { content: "e"; }
.credits-popup h1 b:nth-of-type(8):after { content: "e"; }
.credits-popup h1 b:nth-of-type(9):after { content: "c"; }
.credits-popup h1 b:nth-of-type(10):after { content: "h"; }

.credits-popup button {
    width: 200px;
    color: white;
    background: #c3461b;
    border: 0px none transparent;
    font-size: 2.5em;
    padding: 5px 25px;
    border-radius: 5px;
    cursor: pointer;
}

.credits-popup button:hover {
    background: #b3360b;
}

.credits-popup label {
    padding: 13px 0px 15px 0px;
    cursor: pointer;
    user-select: none;
}
.credits-popup div.scrolling {
    overflow: auto;
    flex-grow: 0;
    padding: 30px 0px 0px 0px;
    margin: 0px 0px 30px 0px;
    background: rgba(64, 0, 0, .1);
}

body.cool-mode { background: #c31bb4; }
body.cool-mode,
body.cool-mode .submit-area button,
body.cool-mode .credits-popup button,
body.cool-mode .modal-content button,
body.cool-mode .modal,
body.cool-mode .credits-popup div.credits-content {
    font-family: 'Comic Sans MS', 'Roboto';
}
body.cool-mode .credits-popup button { padding: 0px 25px; }
body.cool-mode .modal .modal-content img { display: unset; }
body.cool-mode .credits-popup { background: #c31bb4cc; }
body.cool-mode .credits-popup div.credits-content {
    box-shadow: 0px 0px 20px white;
    background: #ffe6ff;
}
body.cool-mode nav .logo svg { fill: #00000044; }
body.cool-mode nav .logo svg:hover { fill: #00000066; }
body.cool-mode .credits-popup div.credits-content::after {
    transform: translateY(0);
    opacity: 1;
}

@media (min-width: 380px) {
    body { min-width: unset; max-width: unset; }

    nav .fullscreen { display: none; }

    .submit-area { display: static; }

    nav .logo { display: block; }

    .row-heading.standalone div.tooltip { flex-grow: 0; margin-left: 5px; }

    .row-heading.decrypt-passphrase { max-width: 380px; }
    
    .submit-area .loader { text-align: left; }
}

@media (prefers-color-scheme: dark) {
    div.content {
        background: linear-gradient(to top, #333 65px, #444 65px 100%);
        box-shadow: inset 0px 11px 8px -10px #555; 
    }

    div.content.floating.active {
        background: linear-gradient(to top, #333 65px, #444 65px 100%);
    }

    div.content.floating.active .submit-area {
        box-shadow: inset 0px 11px 8px -10px #222;
    }

    h1, h2 { color: #ddd; }

    .row-heading div.tooltip svg, .row-heading div.copy svg {
        fill: #aaa;
    }
    .row-heading div.tooltip svg:hover {
        fill: #f6b8a2;
    }
    .row-heading div.copy span {
        color: LightGreen;
    }
    .row-heading div.copy svg:hover {
        fill: LightGreen;
    }

    .row-heading div.saved-text a.open-saved-text-popup,
    .table-container table tr td a {
        color: #db6f4a;
    }

    .row-heading div.saved-text a.open-saved-text-popup:hover,
    .table-container table tr td a:hover {
        color: #f6b8a2;
    }

    .submit-area { box-shadow: inset 0px 11px 8px -10px #222; }

    .submit-area button.submit:disabled { color: #ffffff88; }

    .row-body.textarea textarea {
        border: 1px solid #444;
        background: #222;
        color: #fff;
    }
    div.content.decrypt-results .row-body.textarea textarea {
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
        background: #c3461b44 url(/images/memespeech-logo-faint-dark.svg) center center no-repeat;
        background-size: auto 80%;
    }

    input[type="text"] {
        border: 1px solid #444;
        background: #222;
        color: #fff;
    }

    input[type="text"]:disabled {
        color: #aaa;
        border: 1px solid #555;
        background: #555;
    }

    .slider { background: #333; }

    input:checked + .slider { background-color: #c3461b; }

    .slider:before { background: #aaa; }

    input:checked + .slider:before { background: #fff; }
    
    .submit-area button.reset { background: #888; color: white; }

    .notification-area { color: #aaa; }

    .notification-area svg { fill: #aaa; }
    
    .notification-area.warn { color: #b82; }
    
    .notification-area.warn svg { fill: #b82; }

    .notification-area.ok { color: #77b753; }

    .notification-area.ok svg { fill: #77b753; }

    .notification-area.error { color: #cb5f3a; }

    .notification-area.error svg { fill: #cb5f3a; }

    svg.loading { stroke: #888; }

    .row-content-title div.back-arrow:hover,
    .row-content-title div.add:hover {
        background: #222;
    }

    .row-content-title div.back-arrow svg,
    .row-content-title div.add svg {
        fill: #ddd;
    }

    .saved-text-popup ul li { border-bottom: 1px solid #aaa; }

    .saved-text-popup ul li a { background: #ddd; color: #111; }

    .saved-text-popup ul li a:hover { background: #ccc; }

    .saved-text-popup ul li a svg { fill: #111; }

    .table-container table tr td {
        background: #444;
    }

    .table-container table tr:nth-of-type(odd) td {
        background: #333;
    }

    .table-container table tr:hover td {
        background: #222;
    }
    .table-container table tr:hover td svg:hover {
        fill: pink;
    }
}
