@font-face {
    font-family: 'DejaVu Serif';
    src: url('/fonts/dejavuserif_regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVu Serif';
    src: url('/fonts/dejavuserif_bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

body {
    background: #c3461b;
    transition: background .2s linear;
    font-family: 'DejaVu Serif';
    color: #222;
}
    
.flex-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.flex-layout .splash {
    flex-grow: 0;
    flex-shrink: 1;
    overflow: hidden;
    height: 100vh;
}

.flex-layout .flex-content {
    box-sizing: border-box;
    transition: height .5s linear, opacity .7s ease-in;
    height: 0vh;
    opacity: 0;
    flex-grow: 1;
    flex-shrink: 0;
    text-align: center;
}

.splash {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.splash .top {

    width: 30px;
    height: 5%;
    flex-shrink: 0;
    flex-grow: 0;
}

.splash .logo {
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    flex-grow: 1;
}

.splash .logo svg.symbol {
  
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    fill: black;
    transition: fill .2s linear;
}

.splash .logo svg.smiley {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%) scale(0) rotate(0deg);
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    stroke: none;
}
                
.splash .logo svg.smiley path {
    transition: fill .2s linear;
    fill: black;
}

.splash .logo svg.smiley .face {
    fill: #c3461b;
    transition: fill .2s linear;
}

body.happy {
    background: #ffe6dd;
}

body.happy .splash .logo svg.symbol {
    fill: #c3461b;
}

body.happy .splash .logo svg.smiley path {
    fill: #c3461b;
}

body.happy .splash .logo svg.smiley .face {
    fill: #ffe6dd;
}

body.content-visible .flex-layout .flex-content {
    height: 70vh;
    opacity: 1;
}

a {
    color: #71280f;
    text-decoration: none;
}

a:hover {
    color: #300;
    text-decoration: underline;
}

h1, h2, p {
    box-sizing: border-box;
    margin: 0px auto 30px auto;
    line-height: 1.3em;
    max-width: 775px;
    width: 100%;
    padding: 0px 15px 0px 15px;
}

h1 {
    padding-top: 25px;
    font-size: 3em;
    font-weight: bold;
    user-select: none;
}

h1 b {
    display: inline-block;
    box-sizing: border-box;
    padding: 5px;
    width: 65px;
    text-align: center;
    margin: 3px 3px;
    position: relative;
    color: transparent;
}

h1 b:after, h1 b:before {
    position: absolute;
    left: -1px;
    top: -1px;
    display: block;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid rgba(195, 70, 27, .2);
    background: rgba(255, 255, 255, .5);
    width: 65px;
    text-align: center;
    transition: all .3s ease-in;
    color: black;
}
h1 b:after {
    transform: scale(1.5,1.5);
    opacity: 0;
}
h1 b.tweak:before {
    opacity: 0;
    transform: scale(.5, .5);
}
h1 b.tweak:after {
    opacity: 1;
    transform: scale(1,1);
}

h1 b:nth-of-type(1):before { content: "M"; }
h1 b:nth-of-type(2):before { content: "E"; }
h1 b:nth-of-type(3):before { content: "M"; }
h1 b:nth-of-type(4):before { content: "E"; }
h1 b:nth-of-type(5):before { content: "S"; }
h1 b:nth-of-type(6):before { content: "P"; }
h1 b:nth-of-type(7):before { content: "E"; }
h1 b:nth-of-type(8):before { content: "E"; }
h1 b:nth-of-type(9):before { content: "C"; }
h1 b:nth-of-type(10):before { content: "H"; }
h1 b:nth-of-type(1):after { content: "m"; }
h1 b:nth-of-type(2):after { content: "e"; }
h1 b:nth-of-type(3):after { content: "m"; }
h1 b:nth-of-type(4):after { content: "e"; }
h1 b:nth-of-type(5):after { content: "s"; }
h1 b:nth-of-type(6):after { content: "p"; }
h1 b:nth-of-type(7):after { content: "e"; }
h1 b:nth-of-type(8):after { content: "e"; }
h1 b:nth-of-type(9):after { content: "c"; }
h1 b:nth-of-type(10):after { content: "h"; }

h2 {
    font-size: 1.5em;
    font-weight: bold;
}

p {
    font-size: 1.5em;
}

button {
    color: white;
    background: #c3461b;
    border: 0px none transparent;
    font-size: 2em;
    padding: 5px 25px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 50px;
}

button:hover {
    background: #b3360b;
}
